.contact{
    padding-left: 2rem;
    padding-top: 10rem;
    padding-bottom: 20rem;
    display: flex;
    flex-direction: column;
    .contact-card{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 75%;
        height: 40vh;
        margin: auto;
        border-radius: 1rem;
        background: var(--project);
        padding-bottom: 30rem;
        margin-top: 5rem;
        .card{
            display: flex;
            flex-direction: row;
            justify-content: start;
        }

    }
}   