.projects{
    padding-left: 2rem;
    padding-top: 40rem;
    display: flex;
    flex-direction: column;

}

.project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    max-height: 20%;
    padding-top:5rem;
    padding-bottom: 10rem;
    margin: auto;
    .project{
        max-height: 50vh;
        min-height: 60vh;
        background: var(--project);
        margin: 0rem 3rem;
        flex: 0 1 calc(25%-1em);
        display: flex;
        flex-direction: row;
        text-align: center;
        border-radius: 1rem;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 40%;
        }
    }
}

@media screen and (max-width: 900px){
    .project-container{
        flex-direction: column;
        .project{
            margin: 3rem 0rem;
        }
    }
}