:root {
  --clr-light: #EBE3AA;
  --clr-dark:  #36393B;
  --hover: #05c46b;
  --background: var(--clr-light);
  --text: var(--clr-dark);
}

.darkmode {
  --hover: #05c46b;
  --clr-light: #EBE3AA;
  --clr-dark:  #36393B;
  --background: var(--clr-dark);
  --text: var(--clr-light);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: var(--text);
  font-family: 'IBM Plex Mono', sans-serif;
  background-color: var(--background);
}

h1 {
  font-size: 5rem;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-family: 'IBM Plex Mono', sans-serif;
  font-weight: normal;
}

a {
  color: var(--text);
  text-decoration: none;
}

a:hover {
  color: var(--hover);
}

p {
  color: var(--text);
}

.dark-mode-toggle {
  position: relative;
  top: 1em;
  right: 1em;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 2rem;
  padding-top: 20rem;
}

.home h3 {
  padding-top: 2rem;
  -webkit-animation: typing 4.5s steps(40, end), blink-caret 1s step-end infinite;
          animation: typing 4.5s steps(40, end), blink-caret 1s step-end infinite;
}

nav {
  font-size: 2.3rem;
  width: 35%;
  margin: auto;
  min-height: 10vh;
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 10px;
          flex: 1 0 10px;
  list-style-type: none;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

nav ul a {
  padding: 10px;
}

.projects {
  padding-left: 2rem;
  padding-top: 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  max-height: 20%;
  padding-top: 5rem;
  padding-bottom: 10rem;
  margin: auto;
}

.project-container .project {
  width: 30%;
  background: white;
  margin: 0rem 3rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25%-1em);
          flex: 0 1 calc(25%-1em);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.project-container .project img {
  height: 30%;
}
/*# sourceMappingURL=style.css.map */