:root {
    --clr-light: #EBE3AA;
    --clr-dark:  #36393B;
    --clr-project:white;
    --hover: #05c46b;
    --background: var(--clr-light);
    --text: var(--clr-dark);
    --project: var(--clr-project);
}

.darkmode{
    --hover: #05c46b;
    --clr-light: #EBE3AA;
    --clr-dark:  #36393B;
    --clr-project:#3F4D54;
    --background: var(--clr-dark);
    --text: var(--clr-light);
    --project: var(--clr-project);
    
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: var(--text);
    font-family: 'IBM Plex Mono', sans-serif;
    background-color: var(--background)
}

h1{
    font-size: 5rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 700;
}

h2{
    font-size: 3rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 600;
}

h3{
    font-size: 2.5rem;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight:normal; 
}

a{
    color: var(--text);
    text-decoration: none;
}

a:hover{
    color: var(--hover);
}

p{
    color:var(--text);
}

.dark-mode-toggle{
    position: absolute;
    top: 2em;
    right: 1em;
    width:3rem;
    background: none;
    border: none;
}

.dark-mode-toggle:hover{
    cursor:pointer;
}

.scroll-top{
    position: fixed;
    bottom: 4em;
    right: 1em;
    width:3rem;
    background: none;
    border: none;
}


@import 'home';
@import 'project';
@import 'contact';